global:
   type: bot
   lang: ru-RU
   log_level: INFO
   port: 9095
   alertmanager: http://alertmanager:9093
telegram:
   bot:
    token: some token from @BotFather
   cli: # Get it in https://core.telegram.org/api/obtaining_api_id
    api_id: 123456
    api_hash: 000000000as000
    session: work_account 
   admins:
   - 123456