global:
   lang: ru-RU
   log_level: INFO
   port: 9095
   prometheus: http://prometheus:9090
   ssl_verification: False
telegram:
   cli: # Get it in https://core.telegram.org/api/obtaining_api_id
    api_id: 123456
    api_hash: 000000000as000
    session: work_account 
   admins:
   - 123456